  <div class="jumbotron">
    <h3>Mars Curiosty Rover Photos</h3>
  </div>

  <nav class="navbar">
    <ul class="nav">
      <a class="navbar-brand" routerLink="">Home</a>
      <a routerLink="user/photos">View Your Saved Photos</a>
      <li *ngIf="isLoggedIn">
        <a>{{userName}}</a>
        <a (click)="logout()">Log out</a>
      </li>
      <li *ngIf ="!isLoggedIn">
        <a (click)="login()">Log in</a>
      </li>
    </ul>
  </nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
