/* .navbar1{
  display: flex;
  width: 100%;
  border-bottom: 2px black solid;
  font-family: 'Oswald', sans-serif;
  color: goldenrod;
}

.jumbotron {
  background-color: black;
  color: goldenrod;
  font-size: 87px;
  font-family: 'Oswald', sans-serif;
  height: 20px;
  letter-spacing: 2px;
}

ul {
  font-size: 17px;
}

.well {
  background-color: black;
  font-size: 17px;
}

a {
  color: white;
}

a:hover {
   color: grey;
   text-decoration: none;
} */
